.headerBackground {
    background: rgba(251, 176, 64, 0);
}

.baseContent {
    align-self: center;
    background: url('./../../../../images/bg-1.png') 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

.logo {
    float: left;
    width: 120px;
    height: 103px;
    top: 20;
    left: 0;
    margin: -20px 24px 16px 0;
}

.textMenu {
    font-family: fantasy;
    font-size: 14px;
}

.youtubeContainer {
    margin-bottom: 8px;
}

.leftButton {
    align-items: center;
    justify-content: center;
}

.rightButton {
    align-items: center;
    justify-content: end;
}

.menuText {
    font-family: LuckiestGuy;
    color: #000;
}

.youtubeContainerXxl {
    height: 10vh;
    width: 10vw;
    margin-bottom: 8px;
}

.youtubeContainerXl {
    height: 65vh;
    width: 50vw;
    margin-bottom: 8px;
}

.youtubeContainerLg {
    height: 65vh;
    width: 70vw;
    margin-bottom: 8px;
}

.youtubeContainerMd {
    height: 45vh;
    width: 40vw;
    margin-bottom: 8px;
}

.youtubeContainerSm {
    height: 55vh;
    width: 60vw;
    margin-bottom: 8px;
}

.buttonDownload {
    color: #000;
    display: block;
    padding: 2px 20px 2px 20px;
    border-radius: 10px;
    border-width: 2px;
    background-color: orange;
    font-family: LuckiestGuy;
}

.modalBase {
    background: rgba(255, 255, 255, 0.8);
}